/* Color Theme Swatches in Hex */
$Portfolio-Palette-1-hex: #111A66;
$Portfolio-Palette-2-hex: #6E7BEB;
$Portfolio-Palette-3-hex: #273AE6;
$Portfolio-Palette-4-hex: #303566;
$Portfolio-Palette-5-hex: #1E2DB3;



